<h1>Dashboard</h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
</form>

<br>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <button type="submit">Upload</button>
</form>