{{!-- Header Start --}}
{{> header }}
{{!-- Header End --}}

<body>
  {{!-- Navbar Start --}}
  {{> navbar }}
  {{!-- Navbar End --}}
  
  {{!-- Main Start --}}
  <div class="container-lg p-3 mt-3">
    {{{ body }}}
  </div>
  {{!-- Main End --}}

  {{!-- Footer Start --}}
  {{> footer }}
  {{!-- Footer End --}}
</body>

</html>